<body>
<div class="container">
    <header>
        <h1>Hello!</h1>
    </header>
    <div>
      {{>Test}}
    </div>
</div>
</body>

<template name="Test">
    {{#each PublicProfile}}
        {{>someDataFrom}}
    {{/each}}
</template>

<template name="someDataFrom">
    <br/>
    {{text}}
    <br/>
    {{createdAt}}
    <hr/>
</template>